---
import Social from "./Social.astro";
import RSSIcon from "../assets/icons/rss.svg";
---

<!-- Footer -->
<footer class="bg-card border-border mt-10 border-t py-8">
  <div class="max-w-blog mx-auto px-5">
    <div class="text-muted-foreground text-center">
      <!-- Footer Links -->
      <div class="mb-4 flex flex-wrap justify-center gap-8">
        <Social url="/">
          <RSSIcon />
        </Social>
      </div>

      <!-- Copyright -->
      <p class="text-sm">Built with ❤️ by Naufal Hakim</p>
    </div>
  </div>
</footer>
